const opzioni {

}

.navbar {
  overflow: hidden;
  background-color: var(--colors-secondary);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar:hover {
    background-color: var(--on-secondary-hover);
}

/*
    Fonts: https://ctrl-z.it/9-font-architettura-tavole-portfolio https://material-f/
    Design:oundation.github.io/material-theme-builder/
    Fonts: Playfair Display (titoli), Montserrat (testo normale)
*/