/* -------------------------------------------------------------------------- */
/*                                    BASE                                    */
/* -------------------------------------------------------------------------- */
/* corpo dell'TML */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    background-color: var(--colors-background);
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
.icona-menu {
    width: 30px;
    height: auto;
    display: block;
}

button.btn-menu {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-menu:hover {
    transform: scale(1.1);
}

/*
    Fonts: https://ctrl-z.it/9-font-architettura-tavole-portfolio https://material-f/
    Design: foundation.github.io/material-theme-builder/
    Fonts: Playfair Display (titoli), Montserrat (testo normale)
*/