/* -------------------------------------------------------------------------- */
/*                                    BASE                                    */
/* -------------------------------------------------------------------------- */
/* corpo dell'HTML */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--colors-background);
}
.spaced {
    margin-top: 28px;
}
.on_top {
    margin-top: 25px;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

.text {
    font-family: 'Playfair Display', serif;
}
.title {
    font-family: 'Montserrat', sans-serif;
}


/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
nav.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--colors-primary);
    padding: 5px;
}
.icone {
    width: 25px;
    height: auto;
    display: block;
    margin: 0px 5px;
}
.icone.large {
    width: 30px;
}

button.btn-navbar {
    padding: 4px;
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn-navbar:hover {
    transform: scale(1.1);
}
button.btn-navbar.lang-button {
    margin-left: auto;
    margin-right: 10px;
}
button.btn-navbar.ruotata {
    transform: rotate(90deg);
}

span.nav-data {
    font-size: 12px;
}
/* TODO: apertuta menu, rotazione di 90° quando il menù è aperto */

.btn-menu:hover {
    transform: scale(1.1);
}

/* -------------------------------------------------------------------------- */
/*                               SIDEBAR (HOME)                               */
/* -------------------------------------------------------------------------- */
.clicker {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    z-index: 1;
}
.clicker.show {
    width: 100%;
    height: 100%;
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -250px;
    background-color: var(--colors-primary);
    overflow-x: hidden;
    transition: 0.5s;
    flex-direction: column;
}
.sidebar.aperta {
    left: 0;
}
.sidebar-button {
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin: 8px 3px;
}
.side-data {
    font-size: 14px;
}
details {
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
}

/* -------------------------------------------------------------------------- */
/*                                  CONTENUTO                                 */
/* -------------------------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.immagine {
    width: 100%;
    aspect-ratio: 4/3;
    margin-left: auto;
    margin-right: 0;
}
.blurry {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px);
}

#titolotxt {
    z-index: 200;
    position: absolute;
    left: 60%;
}

/* TODO far sì che scali tutto bene con le dimensioni dello schermo */



/* -------------------------------------------------------------------------- */
/*                              IMG (ABOUT US)                               */
/* -------------------------------------------------------------------------- */



#jacopo {

    margin: 100px, 100px;
}

/*
    Fonts: https://ctrl-z.it/9-font-architettura-tavole-portfolio https://material-f/
    Design: foundation.github.io/material-theme-builder/
    Fonts: Playfair Display (titoli), Montserrat (testo normale)
*/