/* -------------------------------------------------------------------------- */
/*                                    BASE                                    */
/* -------------------------------------------------------------------------- */
/* corpo dell'HTML */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 35px; /* Spazio per la navbar */ /*! rivedere */
    background-color: var(--colors-background);
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
nav.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--colors-primary);
    padding: 5px;
}
.icone {
    width: 25px;
    height: auto;
    display: block;
}

button.btn-navbar {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column; /* TODO! se vuoi cambialo a row */
    align-items: center;
    justify-content: center;
}
.btn-navbar:hover {
    transform: scale(1.1);
}
button.btn-navbar.lang-button {
    margin-left: auto;
    margin-right: 10px;
}
button.btn-navbar.ruotata {
    transform: rotate(90deg);
}

span.navData {
    font-size: 12px;
}
/* TODO: apertuta menu, rotazione di 90° quando il menù è aperto */

.btn-menu:hover {
    transform: scale(1.1);
}

/* -------------------------------------------------------------------------- */
/*                               SIDEBAR (HOME)                               */
/* -------------------------------------------------------------------------- */
.clicker {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    z-index: 1;
}
.clicker.show {
    width: 100%;
    height: 100%;
}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -250px;
    background-color: var(--colors-primary);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    flex-direction: column;
}
.sidebar.aperta {
    left: 0;
}
button.sidebar-button {
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

/*
    Fonts: https://ctrl-z.it/9-font-architettura-tavole-portfolio https://material-f/
    Design: foundation.github.io/material-theme-builder/
    Fonts: Playfair Display (titoli), Montserrat (testo normale)
*/