body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--colors-background);
}
.navbar {
    display: flex;
    overflow: hidden;
    background-color: var(--colors-surface);
    outline: 3px solid var(--colors-outline);
    position: fixed;
    top: 0;
    width: 100%;
}

.change-language {
    background-color: var(--colors-primary);
    color: var(--colors-onPrimary);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    margin-left: 0px;
}

/*
    Fonts: https://ctrl-z.it/9-font-architettura-tavole-portfolio https://material-f/
    Design:oundation.github.io/material-theme-builder/
    Fonts: Playfair Display (titoli), Montserrat (testo normale)
*/