body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
    background-color: var(--colors-primary);
}
.navbar {
  overflow: hidden;
  background-color: var(--colors-secondary);
  position: fixed;
  top: 0;
  width: 100%;
}

/*
    Fonts: https://ctrl-z.it/9-font-architettura-tavole-portfolio https://material-f/
    Design:oundation.github.io/material-theme-builder/
    Fonts: Playfair Display (titoli), Montserrat (testo normale)
*/